<div class="col-11 m-auto">
  <div class="card my-4">
    <div class=" p-0 mt-n4 mx-3 z-index-2">
      <div class="bg-gradient-secondary shadow-dark border-radius-lg pt-4 pb-3">
        <h6 class="text-white text-capitalize ps-4"><i class="fas fa-file-word me-sm-1"></i>Posts</h6>
      </div>
    </div>
    <div class="card-body px-0 pb-2">
      <div class="table-responsive p-0">
        <table class="table align-items-center mb-0">
          <tbody> 
            <% @users.each do |user| %>
            <tr>
              <td>
                <div class="d-flex px-2 py-1">
                  <div class="d-flex flex-column justify-content-center">
                    <h6 class="mb-0 text-sm"><%= user.email %></h6>
                  </div>
                </div>
              </td>
              <td class="align-middle text-center">
                <a href=<%= edit_user_registration_path(id: user.id) %>>
                <span class="text-secondary text-xs font-weight-bold">Editar</span>
                </a>
              </td>
              <td class="align-middle">
                <a href=<%= user_registration_path(user)%> data-method="delete" >
                    <span class="text-secondary text-xs font-weight-bold">Deletar</span>
                </a>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>