<div class="col-11 m-auto">
  <div class="card my-4">
    <div class=" p-0 mt-n4 mx-3 z-index-2">
      <div class="bg-gradient-secondary shadow-dark border-radius-lg pt-4 pb-3">
        <h6 class="text-white text-capitalize ps-4"><i class="fab fa-accessible-icon me-sm-1"></i>Comentários</h6>
      </div>
    </div>
    <div class="card-body px-0 pb-2">
      <div class="table-responsive p-0">
        <table class="table align-items-center mb-0">
          <tbody> 
            <% @comments.each do |comment| %>
            <tr>
              <td>
                <div class="d-flex px-2 py-1">
                  <div class="d-flex flex-column justify-content-center">
                    <h6 class="mb-0 text-sm"><%= comment.post.name %></h6>
                  </div>
                </div>
              </td>
              <td class="align-middle">
                <%= link_to 'Deletar', comment_path(comment),  method: :delete, remote: true, class: 'text-secondary text-xs font-weight-bold' %> 
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>