<main class='bg-dark responsive'>
    <!-- início -->
    <div text-center>
      <div class="py-5 text-center container col-lg-5">
            <h2 class='text-light' style='font-family: Source Code Pro'>blog do jao</h2>
            <p class="lead text-muted font-monospace" style='font-size: 15px'>A label is a graphical control element which displays text on a form. ... A label is generally used to identify a nearby text box or other widget.</p>
      </div>
    </div>
    <!-- acabou o inicio -->
    <!-- postagens -->
  <div class="album py-2 m-auto">
    <div class="container my-5">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <% @posts.each do |post|%>
         <div class="col">
          <div class="card shadow-sm">
            <%= image_tag post.image, class: 'rounded',style: 'height:20vw;margin-bottom:20px;' %>
            <div class="card-body">
              <p class="card-text"><%= post.summary %></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <%= link_to "view", home_post_path(id: post.id) %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>   
    </div>
  </div>
</div>
    <!-- fim das postagens -->
</main>
