    <footer class="bg-dark d-flex flex-wrap justify-content-center aling-items-center text-center  border-top mt-5">
      <div class="d-flex row">
        <span class="text-muted" style="font-family: Source Code Pro">blog do jao</span>
        <span class="text-muted" style="font-family: Source Code Pro">2021</span>
      </div>
    </footer>