<% if current_user && current_user.admin? %>
      <aside class="sidenav navbar navbar-vertical navbar-expand-xs fixed-start bg-gradient-dark" id="sidenav-main">
        <div class="sidenav-header text-center">
            <span class="font-weight-bold text-white">Admin</span>
          </div>
          <hr class="horizontal light mt-0 mb-2">
          <div class="collapse navbar-collapse  w-auto  max-height-vh-100" id="sidenav-collapse-main">
            <ul class="navbar-nav">
            <!-- início dos paths -->
              <div class="my-2">
                <li class="nav-item">
                    <%= link_to "Post", posts_path, class:"d-sm-inline d-none text-light nav-link" %>
                </li>
              </div>
              <div class="my-2">
                <li class="nav-item">
                    <%= link_to "Categories", categories_path, class:"d-sm-inline d-none text-light nav-link" %>
                </li>
              </div>
              <div class="my-2">
                <li class="nav-item">
                    <%= link_to "Roles", roles_path, class:"d-sm-inline d-none text-light nav-link" %>
                </li>
              </div>
            <!-- final dos paths -->
          </ul>
        </div>
    </aside>
  <% end %>